$color-red: red;
$bg-red: red;

html {
  font-size: 14px;
}

body {
  font-family: 'Sukhumvit Set', 'Kanit', sans-serif;
  font-size: 1rem;
  margin: 0;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

h2 {
  color: $color-red;
}

p {
  text-indent: 1.25rem;

  &.no-indent {
    text-indent: 0;
  }
}

a {
  color: $color-red;
  text-decoration: none;
}

span {
  font-size: 15px;
  &.small {
    font-size: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.hex-wrapper {
  overflow: hidden;
}

.mail-banner {
  color: white;
  .banner-bg {
    background-image: url("images/top-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .circle-red {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      background-color: $bg-red;
      border-radius: 50%
    }
  }
}

.mail-body {
  .content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.mail-closing {
  .closing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
}

.text-center {
  text-align: center;
}
